In [2]:
import pandas as pd

In [4]:
dotw = ['月', '火', '水', '木', '金', '土', '日', '月', '火', '水', '木', '金', '土', '日']

In [5]:
dotw_df = pd.DataFrame({'dotw' :dotw})
dotw_df

   dotw
0     月
1     火
2     水
3     木
4     金
5     土
6     日
7     月
8     火
9     水
10    木
11    金
12    土
13    日

In [6]:
for day in dotw_df.dotw.unique():
    dotw_df['dotw_'+day] = (dotw_df.dotw == day)
dotw_df

   dotw  dotw_月  dotw_火  dotw_水  dotw_木  dotw_金  dotw_土  dotw_日
0     月    True   False   False   False   False   False   False
1     火   False    True   False   False   False   False   False
2     水   False   False    True   False   False   False   False
3     木   False   False   False    True   False   False   False
4     金   False   False   False   False    True   False   False
5     土   False   False   False   False   False    True   False
6     日   False   False   False   False   False   False    True
7     月    True   False   False   False   False   False   False
8     火   False    True   False   False   False   False   False
9     水   False   False    True   False   False   False   False
10    木   False   False   False    True   False   False   False
11    金   False   False   False   False    True   False   False
12    土   False   False   False   False   False    True   False
13    日   False   False   False   False   False   False    True